<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../public/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../public/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../public/favicon-16x16.png"
    />
    <link rel="manifest" href="../public/site.webmanifest" />
    <link rel="stylesheet" href="../public/style.css" />
    <title><%=siteName%> | dashboard</title>
  </head>
  <body>
    <div id="rootContainer">
      <div id="hAndMContainer">
        <header id="dashHeader">
          <div id="logoAndNav">
            <a href="/"
              ><img
                id="logo"
                src="../public/android-chrome-192x192.png"
                alt="fix logo"
            /></a>
            <%-include("partials/header.ejs")-%>
          </div>
          <span id="date"><%=date%></span>
          <hr />
          <%if(user){%>
          <h1>
            Welcome <span><%= user.username%></span> to your task management
            dashboard
          </h1>
          <h3>
            <b>Note:</b>When a task is completed, click the "pending" button to
            mark it completed or otherwise.
          </h3>
        </header>
        <form action="/tasks/filter", method="GET">
          <label for="state">Filter tasks by: <b>Pending</b> or <b>Completed</b>.
            <select name="state" id="filterInput">Filter by: 
              <option value="">--Select here--</option>
              <option value="pending" name="state">Pending</option>
              <option value="completed" name="state">Completed</option>
              <option value="all" name="state">All</option>
            </select>
          </label>
          <button type="submit" id="filterBtn">Filter</button>
        </form>
        <div id="taskTable">
          <main>
            <table>
              <tr>
                <th>WHAT TO DO (TASKS)</th>
                <th>STATE</th>
                <th>CREATED DATE</th>
                <th>DUE DATE</th>
                <th></th>
              </tr>
              <%taskInfos.forEach(taskInfo=>{%> <%if(taskInfo.state ==
              "pending"){%>
              <tr>
                <td><%=taskInfo.task_name%></td>

                <td>
                  <form action="/tasks/update/<%=taskInfo._id%>" method="PUT">
                    <input
                      id="stateInput"
                      type="text"
                      name="state"
                      value="completed"
                    />
                    <button
                      id="state"
                      type="submit"
                      formmethod="post"
                      title="click to mark your task completed"
                      style="background-color: brown"
                    >
                      <%=taskInfo.state%>
                    </button>
                  </form>
                </td>
                <td><%=taskInfo.created_date%></td>
                <td><%=taskInfo.due_date%></td>
                <td>
                  <form action="/tasks/<%=taskInfo._id%>" method="DELETE">
                    <button
                      id="delButon"
                      type="submit"
                      formmethod="post"
                      title="delete task"
                    >
                      <img
                        src="../public/delete_icon.svg"
                        alt="delete"
                        id="delIcon"
                      />
                      <figcaption>delete</figcaption>
                    </button>
                  </form>
                </td>
              </tr>
              <%}else{%>
              <tr>
                <td><%=taskInfo.task_name%></td>

                <td>
                  <form action="/tasks/update/<%=taskInfo._id%>" method="PUT">
                    <input
                      id="stateInput"
                      type="text"
                      name="state"
                      value="pending"
                    />
                    <button
                      id="state"
                      type="submit"
                      formmethod="post"
                      title="click to mark your task pending"
                    >
                      <%=taskInfo.state%>
                    </button>
                  </form>
                </td>
                <td><%=taskInfo.created_date%></td>
                <td><%=taskInfo.due_date%></td>
                <td>
                  <form action="/tasks/<%=taskInfo._id%>" method="DELETE">
                    <button
                      id="delButon"
                      type="submit"
                      formmethod="post"
                      title="delete task"
                    >
                      <img
                        src="../public/delete_icon.svg"
                        alt="delete"
                        id="delIcon"
                      />
                      <figcaption>delete</figcaption>
                    </button>
                  </form>
                </td>
              </tr>
              <%}%> <%})%>
            </table>
            <% }else{%>
            <p>>please <a href="/login">login</a></p>
            <%}%>
          </main>
        </div>
      </div>
      <footer>
        <p>
          Send us a mail &rBarr;
          <a href="mailto:maito4me@gmail.com"
            ><img id="gmail" src="../public/gmail_image.jfif" alt="gmail image"
          /></a>
        </p>
        <%-include("partials/footer.ejs")-%>
      </footer>
    </div>
  </body>
</html>
